header {
  height: 55px;
  background-color: #9fa8a3;
  overflow: hidden;
}

header p {
  margin-top: 10px;
  text-align: center;
  color: #173e43;
  height: 100%;
  width: 100%;
  font-size: 23px;
  font-weight: 600;
}

.links {
  text-decoration: none;
}
